* {
  font-family: monospace;
}

.jumbotron {
  background-image: url("https://escrime13.github.io/personalWebSite/img/background2.jfif");
  background-size: cover;
  min-height: 50rem;
}
.jumboTextH2 {
  font-size: 5rem;
  color: lightgray;
  text-shadow: 4px 4px rgb(20, 38, 233);
  text-align: center;
}
.jumboTextH1 {
  border-style: solid;
  border-width: 0.5rem;
  box-shadow: 2px 2px rgb(20, 28, 233);
  border-color: white;
  font-size: 7rem;
  color: white;
  text-shadow: 8px 8px black;
  text-align: center;
}
p {
  line-height: 1.6;
  font-size: 2.5rem;
}
#education p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  display: block;
  border-color: #343a40;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 10px;
}
.skillContainer {
  border-style: outset;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#skillsBackground {
  background-image: url("https://escrime13.github.io/personalWebSite/img/backgroundSkills.jpg");
}
#projectDemoBackground {
  background-image: url("https://escrime13.github.io/personalWebSite/img/backgroundProject.jpg");
  background-size: cover;
}
#educationBackground {
  background-image: url("https://escrime13.github.io/personalWebSite/img/backgroundEducation.jpg");
  background-size: cover;
}
#aboutMeBackground {
  background-image: url("https://escrime13.github.io/personalWebSite/img/backgroundAbout.jpg");
  background-size: cover;
}
#experienceBackground {
  background-image: url("https://escrime13.github.io/personalWebSite/img/backgroundExperience.jpg");
  background-size: cover;
}
#aboutMe {
  text-shadow: 2px 4px white;
}
.educationContainer {
  border-style: solid;
  border-color: black;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#educationTitle {
  background-color: white;
  border-style: solid;
  border-color: black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
ul {
  list-style-type: none;
}
li {
  line-height: 1.6;
  font-size: 2.5rem;
}
#imgFluffy {
  max-width: 45rem;
  max-height: 45rem;
}
.carousel-item {
  background: 100%;
}
.carousel-item img {
  max-width: 50%;
  max-height: 40rem;
  margin: auto;
}
.nav-link {
  color: #343a40;
}
